<div class="main-navigation" id="mainNavigation">
	<div class="bar green-bar"></div>
	<div class="bar red-bar"></div>
	<div class="bar brown-bar"></div>
	<div class="navigation-container">
		<ul>
			<div class="nav-logo"><a data-scroll data-options="easing: easeInOutQuad" data-href="#dailoIntro" href="dailoIntro" title="Dailo Intro"><img src="./img/logo.png"></a></div>
			<li><a data-scroll data-options="easing: easeInOutQuad" data-href="#contact" href="contact" title="Contact" class="main-nav" id="navContact">Contact</a></li>
			<li><a data-scroll data-options="easing: easeInOutQuad" data-href="#lopan" href="lopan" title="LoPan" style="color:#ba141a;" class="main-nav" id="navLopan">LoPan</a></li>
			<li><a data-scroll data-options="easing: easeInOutQuad" data-href="#press" href="press" title="Press" class="main-nav" id="navPress">Press</a></li>
			<li><a data-scroll data-options="easing: easeInOutQuad" data-href="#gallery" href="gallery" title="Gallery" class="main-nav" id="navGallery">Gallery</a></li>
			<li><a data-scroll data-options="easing: easeInOutQuad" data-href="#offerings" href="offerings" title="Offerings" class="main-nav" id="navOfferings">Offerings</a></li>
			<li><a data-scroll data-options="easing: easeInOutQuad" data-href="#about" href="about" title="About" class="main-nav" id="navAbout">About</a></li>
			<div class="clear"></div>
	    </ul>
	    <div class="nav-toggle-container">
	        <a href="#nav" class="nav-toggle"></a>
	    </div>
	</div>
	<div class="res-nav-container">
		<div class="responsive-navigation" role="navigation" id="responsive-navigation">
		    <ul>
				<li><a data-scroll data-options="easing: easeInOutQuad" data-href="#about" href="about" title="About" class="res-nav" id="responsiveAbout">About</a></li>
				<li><a data-scroll data-options="easing: easeInOutQuad" data-href="#offerings" href="offerings" title="Offerings" class="res-nav" id="responsiveOfferings">Offerings</a></li>
				<li><a data-scroll data-options="easing: easeInOutQuad" data-href="#gallery" href="gallery" title="Gallery" class="res-nav" id="responsiveGallery">Gallery</a></li>
				<li><a data-scroll data-options="easing: easeInOutQuad" data-href="#press" href="press" title="press" class="res-nav" id="responsivePress">Press</a></li>
				<li><a data-scroll data-options="easing: easeInOutQuad" data-href="#lopan" href="lopan" title="LoPan" class="res-nav" id="responsiveLopan" style="color:#ba141a;">LoPan</a></li>
				<li><a data-scroll data-options="easing: easeInOutQuad" data-href="#contact" href="contact" title="Contact" class="res-nav" id="responsiveContact">Contact</a></li>
				<div class="clear"></div>
			</ul>
		</div>
	</div>
</div>